<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Enlaces CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Herader2.css')}}">

    <title>{% block title%} {% endblock %}</title>
    
    <!-- Encabezado con los enlaces -->
    <div class="menu">
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('principal') }}">
                        <i></i>Inicio
                    </a>        
                </li>   

                <li>
                    <div id="vertical_line"></div>
                </li>
                
                <li>
                    <a href="{{ url_for('Usuarios') }}">
                        <i></i>Usuarios
                    </a>    
                </li>
                
                <li>
                    <div id="vertical_line"></div>
                </li>

                <li>
                    <a href="{{ url_for('Clientes') }}">
                        <i></i>Clientes
                    </a>
                </li>

                <li>
                    <div id="vertical_line"></div>
                </li>

                <li>
                    <a href="{{ url_for('Proveedores') }}">
                        <i></i>Proveedores
                    </a>
                </li>

                <li>
                    <div id="vertical_line"></div>
                </li>

                <li>
                    <a href="{{ url_for('Productos') }}">
                        <i></i>Productos
                    </a>
                </li>

                <li>
                    <div id="vertical_line"></div>
                </li>

                <li>
                    <a href="{{ url_for('Ventas') }}">
                        <i></i>Ventas
                    </a>
                </li>

                <li>
                    <div id="vertical_line"></div>
                </li>

                <li>
                    <a href="{{ url_for('Reportes') }}">
                        <i></i>Reportes
                    </a>
                </li>

                <li>
                    <div id="vertical_line"></div>
                </li>

                <li>
                    <a href="login.html">
                        <i></i>Login
                    </a>
                </li>
            </ul>  
        </nav>
    </div>
        

    <div class="logo">
        <img src="static/img/New_Logo.png"/>
    </div>
<!-- Fin del encabezado con los enlaces -->

</head>
<body>
    {% block body %}

    {% endblock %}
</body>

</html>